
<style type="text/css">
em{
  color: red;
}

.button{
    text-align: center
}
.form-inline div { display: inline-block }
abbr[title="required"] {
  display: none;
}
table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #f2f2f2;
    color: black;
}
.head{
    background-color: #4CAF50;
    color: white;
}
.title{
    text-align: center;
    vertical-align: middle;
}

</style>

<script type="text/javascript">
$('#sayt').bind('keyup', function() {
    console.log("estoy dentro");
    $('form#sayt').trigger('submit.rails');
});
</script>

<h1 id="title" style="text-align: center">New search</h1>
<br>
<%= link_to 'Main', index_path %>
<br>
<div class="button">
<%= simple_form_for :movies, :remote => true, :html => { :class => "form-inline", :id => "sayt"} do |f| %>

  <%= f.input :query, :label => "", :id => "sayt" %>
  <%= f.submit :search %>
  </div>
<% end %>

<div>
<table >
    <thead>
        <tr>
            <th class="head">Name</th>
            <th class="head">Descripcion</th>
        </tr>
    </thead>
    <tbody id = "datos">
    </tbody>
</table>

</div>
